@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;

}

body{
    background-color: grey;
}


section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}

section{
  padding: 2rem 9%;
}

.navbar{
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navbar ul li:after{
  transition: 1s;
  content: '';
  height: 5px;
  width: 0;
  background: black;
  position: absolute;
  left: 0;
  bottom: -5%;
}

.navbar ul li:hover::after{
  width: 100%;
}

.drop {
  display: none;
}

.navbar ul li:hover .drop {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
}

.navbar ul li:hover .drop ul {
  display: block;
  margin: 13px;
}

.navbar ul li:hover .drop ul li {
  padding: 8px;
}


.section{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 70%;
  margin: 10rem auto 0 auto;
}

.section img{
  height: 300px;
}

.section h1{
  margin: 0;
}

.btn button{
  padding: 7px 40px;
  margin-right: 25px;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  background: transparent;
  border: 1px solid #FF5733; 
}

.btn .bcolor{
  background: #1E2E81;
  color: #8395EE;
}

.speciality-heading{
  font-size: 40px;
  padding: 1.5rem 0;
  text-align: center;
  color: #333;
}

.speciality-heading span{
  color: #e58f00;
}

.main-box-speciality{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.main-box-speciality .box{
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid var(--btn-color);
  cursor: pointer;
  border-radius: 1rem;
}

.main-box-speciality .box .image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  left: 0;
}

.main-box-speciality .box:hover .image{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

.main-box-speciality .box .content{
  background: white;
  text-align: center;
  padding: 2rem;
}

.main-box-speciality .box .content img{
  margin: 1.5rem 0;
}

.speciality .main-box-speciality .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.speciality .main-box-speciality .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}


